configuration {
  modi:         "run,drun,window";
  combi-modi:   "run,drun,window";
  theme:        "gruvbox-dark";
  font:         "Fira Code 11";
  terminal:     "alacritty";
  matching:     "fuzzy";
  show-icons:   false;
  fullscreen:   false;
 }
